/venv
/dwarf_ble_connect
/dwarf_python_api*
*.log
*.log.old
*.pyc
*.tmp
/build
*.bak
/myenv3
config.lock
/Astro_Sessions
/Devices_Sessions
*.pyd
/myenv12
/myenv311
/myenv312
/myenvUbuntu
/old_test
/doc
/.vscode
/__pycache__